<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dolan.dolantancepapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <permission android:name="com.dolan.dolantancepapp.DATABASE_WRITE" />
    <permission android:name="com.dolan.dolantancepapp.DATABASE_READ" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".alarm.SettingActivity"
            android:label="@string/title_activity_setting"/>
        <provider
            android:name=".db.ContentProvider"
            android:authorities="com.dolan.dolantancepapp"
            android:exported="true"
            android:readPermission="com.dolan.dolantancepapp.DATABASE_READ"
            android:writePermission="com.dolan.dolantancepapp.DATABASE_WRITE" />

        <service
            android:name=".favorite.StackWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <receiver android:name=".favorite.FavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <receiver
            android:name=".alarm.TvReminderService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".detail.DetailActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>